# Object files
*.o

# Executables
examples/basic/basic_test
examples/string_test/string_test
examples/number_test/number_test
tests/test_framework

# MacOS specific
.DS_Store
.AppleDouble
.LSOverride

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Build directories
build/
dist/

# Temp files
*~
*.tmp

# Debug files
*.dSYM/
